@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap);

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto', 'arial', sans-serif;
  color: $c_text;
}

.figure {
  margin: 0;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}